*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image:url('http://www.desktopwallpaperhd.net/wallpapers/21/3/wallpaper-clouds-house-paper-dramatic-images-portfolio-photography-places-213971.jpg'); 
  background-color: #cccccc;
  /*background-image: radial-gradient(red, yellow);*/
}

a{
  color: #333;
  text-decoration: none;
}

#quote-box{
  font-family:'Indie Flower',cursive;
  font-style: italic;
  font-size: 35px;
  color: aqua;
  padding: 50px 0;
  border: 3px solid green;
  text-align: center;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  background: rgba(60,60,60,0.5);
}